* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app_title {
    
border-color:#bdc7d8;

width:377px;

font-size: 26px;
    
text-align: left;
    
margin-bottom: 10px;
    
font-weight: 900;

color: #005488;

top: 10%;


}


.Registrationform {


    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: left;
    margin: 0em 0em 0em 0em;
    font: 11px system-ui;
    margin-bottom : 10px:
}
