<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Create you own playlist and share{% endblock %}</title>
  {% include "snippets/css.html" %}
  </head>
  <body>
    <div class="container">
    <header>
     <h1> Canticle</h1>
      {% if user.is_authenticated %}
        <a href='/canticle/login'> login </a>/ <a href="{% url 'logout' %}">logout</a>
      {% else %}
       <a href='/canticle/login'> login </a>/ <a href='/canticle/'> signup </a>

      {% endif %}
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    {% include "snippets/js.html" %}
  </div>
  </body>
</html>
